<h3 *ngIf="!cartisempty">Your Cart Is Empty !</h3>
<div *ngIf="cartisempty" style="margin-top: 5%;">
  <div *ngFor="let product of cartData" class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{product.photoUrl}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.productName}}</h5>
          <p class="card-text">Price: {{product.price}}</p>
          <p class="card-text"><small class="text-muted">{{product.description}}</small></p>
        </div>
      </div>
    </div>
    <div class="but">
      <button style="background-color: yellowgreen;" class="btn btn-primary" (click)="buyItem(product)">buy Now</button>
      <button class="btn btn-primary" (click)="removeFromCart(product)">Remove From Cart</button>
    </div>
  </div>
</div>