<div class="bod">
<div class="main" *ngFor = 'let product of cartData'>
  <h3>{{product.productName}}</h3>
<div class="tex">
  <p><b>Model:</b> {{product.productId}}</p>
  <p><b>Launch Date:</b> {{product.launchDate}}</p><br>
</div>
  <div class="des">
    <b>Description :</b><br><label><span>{{product.description}}</span></label>
  </div>
  <div style="display: flex;">
    <img src="{{product.photoUrl}}" alt="cardimg"><br>
 
    <div class="vl"></div>
  </div>
  <div style="display: flex;margin-left: 50vw;">
  <button class="btn btn-primary" (click)="buyItem(product)">Buy Now</button>
  <button class="btn btn-primary" style="margin-left: 50%;" (click)="removeFromCart(product)">Remove From Cart</button>
</div>
</div>
</div>