<div class="bod" *ngIf="isLoaded">
  <div class="card">
    <div class="sign">
      <span style="cursor: pointer;"><span class="fast-flicker">M</span>Y<span
          class="veryfast">*</span>C<span class="flicker">A</span>R<span class="fast-flicker">T</span></span>
    </div>
    <button (click)="signInWithGoogle()">
      <img src="assets/google.svg" alt="google" width="25" height="25" />
      <span>Sign in with Google</span>
    </button>
  </div>
</div>

<ngx-spinner bdOpacity="0" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ec8d3e" type="ball-fall"
  [fullScreen]="true">
  <p style="color: white">Signing Into My Cart</p>

</ngx-spinner>