.main {
    background-color: white;
    border-radius: 10px;
    height: 400px;
    width: 70%;
    box-shadow: 0 4px 8px 0 greenyellow;
    transition: 0.3s;
    cursor: pointer;
}
//////////////////////////////////////////////////////////////////////////////////////////////////
.head {
    font-family: "A";
    font-size: 50px;
    margin-left: 27vw;
    padding-top: 21px;
    color: rgb(241, 211, 35);
}
.bod {
    background-image: url('/assets/gbg.jpg');
    min-height: 93vh;
    width: 100%;
  }