<div class="padd">
    <form [formGroup]="editForm">
            <div class="form-row">
              <div class="col">
                <label>Product Name</label>
                <input type="text" class="form-control" formControlName="PName">
              </div>
              <div class="col">
                  <label>Product Id</label>
                <input type="text" class="form-control" formControlName="PId" readonly>
              </div>
            </div>
            <div class="form-row">
                <label>Photo Url</label>
                <input type="text" class="form-control" formControlName="PUrl"> 
            </div>
            <div class="form-row">
                <label>Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="Des" maxlength="200"></textarea>
            </div>
            <div class="form-row">
                <div class="col">
                    <label>Price</label>
                    <input type="number" class="form-control" formControlName="Price"> 
                </div> 
                <div class="col-md-3">
                    <label>Launch Date</label>
                    <input #data class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="LDate"
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', isAnimated: true, adaptivePosition: true  }">                
                </div>
                <div class="col">
                    <label>Catogory</label>
                    <select class="selector" class="form-control" id="Select" formControlName="Cat">
                        <option></option>
                        <option *ngFor='let cat of catData'>{{cat.catogories}}</option>
                    </select>               
                </div>
            </div>
            <div class="form-row" style="margin-left: 18px;"> 
                    <input class="form-check-input" type="checkbox" formControlName="IsAvailable">
                    <label>Is Available</label>
                
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid" (click)="updateProduct(data)">Update Product</button>
    </form>
</div>