.padd {
    margin: 3% 5% 1% 5%;
    background-color: rgb(229, 245, 245);
    padding: 30px 25px 25px 25px;
    border-radius: 10px;
  }
  div {
      padding: 5px;
  }
  .bod {
    background-image: url('/assets/BG.jpg');
    width: 100vw;
    height: 92vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .heading {
    margin-left: 35vw;
    font-family: "A";
    color: black;
  }